

*{
      box-sizing: border-box;
}



/* border
style 
color
width
*/


.border{
    width: 300px;
    height: 300px;
    background-color: blue;
    /* border-color: red;
    border-style: double;
    border-width: 20px; */

    /* border:solid 12px yellowgreen; */
    /* border-radius: 50%; */
    /* border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom: 15px solid red;
    border-top: 15px solid red;
    border-left: 15px solid red; */

color: aliceblue;

/* margin-top: 100px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 100px; */
/*  top right  bottom   left     */
margin: 100px  auto  ;


/* padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px; */


padding: 10px 20px;
text-align: center;
}

/** Spacing 
1-margin
2-padding
*/




/*Fonts
font-size:16px  vector
 font-weight: 400
  font-style: normal;
*/
@font-face {
    font-family: kanba;
    src: url(../Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}

.font{
    font-size: 100%;
    font-weight: 400;
    font-style: normal;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif ; */
    font-family:  Arial, sans-serif;
    font-family: "Playwrite VN", cursive;
}
.font-fam{
     font-family: "Roboto Slab", serif;
}
.fonrt-three{
      font-family: kanba;
}

/*
background-image: url(../images/bgs.jpg);
background-size: cover;   100% 100%
*/ 

.back{
width: 700px;
height: 800px;
border: 4px solid red;
background-color: blanchedalmond;
background-image: url(../images/bgs.jpg);
background-size: cover;
background-position: center center;

background-attachment: fixed;

color: #fff;
font-family: kanba;
/* 
background-image: url(../images/images.jpg) , url(../images/taxi.png);
background-repeat: no-repeat , repeat-x;
background-position: 20px 20px , center center ; */

}

/*  Floating   */

.meals{
    /* background-color: tomato; */
    width: 90%;
    margin: 50px auto;

}
.meal{

    width: 25%;
    text-align: center;
    float: left;
   /* display: inline-block; */
   padding: 20px;
   /* border: 5px solid rebeccapurple; */
  


}
.inner{
        background-color: yellowgreen;
}
.meal h2{
       font-family: "Roboto Slab", serif;
   
}
.meal .line{
    width: 30%;
    height: 3px;
    background-color: gray;
    margin: auto;
}
.meal p{
    color: gray;
    font-family: kanba;
}
.meal img{
    border-radius: 50%;
}
.clr{
    clear: both;
}



.test{
    width: 200px;
    height: 200px;
    background-color: goldenrod;
    padding: 10px;
/*    
    border: 5px solid black; */
    /* box-sizing: border-box; */
}
.test p{
    background-color: blue;
    
}

/*
--Box-sizing
--media query   RWD
  600> xs
  600 >sm> 768
  768> md >992
  992> lg >1200
       xl>1200
*/





/* @media screen and (max-width:800px) {
    body{
        background-color: yellow;
    }
    .meal{
        width: 100%;
    }
} */

@media screen  and (min-width:1200px){
       .meal{
        width: 25%;
    }
}

@media screen  and (max-width:1199px) and (min-width:992px) {
       .meal{
        width: 25%;
    }
}

@media screen  and (max-width:991px) and (min-width:768px) {
       .meal{
        width: 50%;
    }
}

@media screen  and (max-width:767px) and (min-width:600px) {
       .meal{
        width: 100%;
    }
}
@media screen  and (max-width:599px){
       .meal{
        width: 100%;
    }
}