
/* body{
    background-color: teal;
} */

/* p{
    color: red;
}
p{
    color: yellowgreen;
} */



h1{
    text-align: center;
    color: red;
}
.item1{
   text-align: center; 
   color: gold;
}
.item-color{
    color: green;
}